.characterEditor {
  padding-top: 128px;
  padding-bottom: 64px;
}

@media (max-width: 600px) {
  .characterEditor {
    padding-top: 64px;
    overflow: hidden;
  }
}

.characterEditor::before {
  content: '';
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40%;
  background-color: hsl(195deg, 20%, 86%);
}

@media (max-width: 600px) {
  .characterEditor::before {
    z-index: -2;
  }
}

.header {
  padding-bottom: 64px;
  max-width: 65%;
}

@media (max-width: 1280px) {
  .header {
    max-width: 50%;
  }
}

@media (max-width: 600px) {
  .header {
    max-width: none;
  }
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
}

@media (max-width: 1280px) {
  .title {
    font-size: 2rem;
  }
}

.description {
  font-size: 1.25rem;
  margin: 0;
}

@media (max-width: 1280px) {
  .description {
    font-size: 1rem;
  }
}

.characterWrapper {
  position: fixed;
  top: 128px; /* matches characterEditor padding-top*/
  bottom: 0;
  right: 0;
  width: 35%;
  min-height: 500px;
}

@media (max-width: 1280px) {
  .characterWrapper {
    width: 45%;
  }
}

@media (max-width: 600px) {
  .characterWrapper {
    top: 210px;
    left: 15%;
    z-index: -1;
  }
}

.controlColumn {
  max-width: 50%;
  isolation: isolate;
}

@media (max-width: 600px) {
  .controlColumn {
    display: flex;
    gap: 16px;
    max-width: none;
    overflow: scroll;
  }
}
